@font-face {
    font-family: montserrat-regular;
    src: url('../assets/fonts/montserrat/montserrat-regular.ttf') format('truetype');
}
@font-face {
    font-family: montserrat-bold;
    src: url('../assets/fonts/montserrat/montserrat-bold.ttf') format('truetype');
}
@font-face {
    font-family: futura-extra-bold;
    src: url('../assets/fonts/futura/futura-extra-bold.otf') format('opentype');
}
