nav {
    background-color: #003595;
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
    width: 100%;
    border-bottom: 5px solid;
    border-image: linear-gradient(
        to right,
        var(--main-yellow) 0%,
        var(--main-yellow) 50%,
        var(--main-blue) 50%,
        var(--main-blue) 80%,
        var(--main-red) 80%,
        var(--main-red) 100%);
    border-image-slice: 1;
}

#navbar-logo { 
    display: flex;
}

#navbar-logo-img {
    height: 70px;
    width: 70px;
}

#navbar-logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

#navbar-logo-text p:first-child{
    color: white;
    font-family: montserrat-regular;
    font-weight: bold;
    font-size: 50px;
}

#navbar-logo-text p:last-child{
    color: #ffce02;
    font-family: montserrat-regular;
    font-weight: bold;
    font-size: 10px;
}


#navbar-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-right: 100px;
}

.navbar-link a {
    color: white;
    text-decoration-line: underline;
    font-family: montserrat-regular;
    font-size: 15px;
}

.active a, .navbar-link a:hover{
    color: var(--main-yellow);
}
.dropbtn p{
    text-decoration-line: underline;
}
.dropbtn p:hover{
    color:var(--main-yellow);
}
/* dropdown */

.dropdown .dropbtn {
    color: var(--main-white);
    font-family: montserrat-regular;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #003595;
    font-family: montserrat-regular;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #ffce02;
}

.dropdown:hover .dropdown-content {
    display: block;
}

